.header-gradient {
  background: linear-gradient(to right, #9576F7, #8160E5);
}

.bottom-gradient {
  background: linear-gradient(to right, #9575F7, #8160E5);
}

.nav-button-active {
  background: linear-gradient(to right, #9576F7, #8160E5);
  border-radius: 9999px;
  padding: 8px;
}

/* Leaflet Responsividade */
.leaflet-container {
  width: 100% !important;
  height: 100% !important;
}

.leaflet-control {
  font-size: 12px;
}

@media (max-width: 640px) {
  .leaflet-control {
    font-size: 10px;
  }
  
  .leaflet-popup-content {
    font-size: 12px !important;
  }
}


