.header-gradient {
  background: linear-gradient(to right, #9576F7, #8160E5);
}

.bottom-gradient {
  background: linear-gradient(to right, #9575F7, #8160E5);
}

.nav-button-active {
  background: linear-gradient(to right, #9576F7, #8160E5);
  border-radius: 9999px;
  padding: 8px;
}

.delegacia-icon {
  filter: drop-shadow(0 2px 4px rgba(0,0,0,0.4));
}


